body {
  color: #fff;
}

.App {
  text-align: center;
  font-family: 'Helvetica Neue';
  background-color: #300555;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  height: 24px;
  padding: 12px 0;
}

h1 {
  font-family: 'Paytone One', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-style: italic;
  line-height: 20px;
  margin: 0;
}

.icon-container {
  position: relative;
}

.user-icon {
  height: 24px;
  width: 24px;
  background-image: url('./user.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 14px;
  right: 12px;
}

.upload-btn {
  width: 80%;
  height: 4em;
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #6A0DB9;
  box-shadow: 0 8px 16px 0 rgba(106,13,185,0.50);
  border: none;
  border-radius: 8px;
  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: .65px;
  color: #fff;
}

.bounce-list {
  /*padding: 0 30px;*/
}

.media-container {
  max-width: 335px;
  margin: 30px auto;
}

.cloudinary-img,
.cloudinary-vid {
  max-width: 335px;
  height: auto;
  box-shadow: 0 8px 16px 0 rgba(106,13,185,0.20);
  border-radius: 8px;
}

.link-container {
  margin: 8px 0;
}

.user-link,
.page-link {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 14px;
  padding: 5px;
}

.page-link {

}
